{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
        "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "keyword-spacing": [
      2,
      {}
    ],
    "camelcase": [
      1,
      {
        "properties": "always"
      }
    ],
    "max-len": [
      2,
      100
    ],
    "comma-spacing": [
      2,
      { "before": false, "after": true }
    ],
    "space-infix-ops": [
      2,
     {"int32Hint": true}
    ]
  }
}
